EXPO_PUBLIC_API_URL=https://www.attendance-tracker.shivamshankhdhar.online/api/v1
EXPO_PUBLIC_GOOGLE_CLIENT_ID=667573150359-4cff25jgf98hqq00pdrnojslk4bri5sb.apps.googleusercontent.com
EXPO_PUBLIC_APP_NAME=Bizora

EXPO_PUBLIC_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=com.bizora.app
EXPO_PUBLIC_APP_STORE_URL=https://apps.apple.com/app/bizora/id6740000000
EXPO_PUBLIC_JOIN_BASE_URL=https://www.bizora.shivamshankhdhar.online/join
